{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/profiles/{{profile._id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit Your Profile</legend>
            <label class="form-label">About me: </label>
            <textarea
                    type="text" 
                    name="aboutme" 
                    placeholder= 'Tell us about your musical taste'
                    class="form-control"></textarea>
        <input type="submit" value="Update About me" class="btn btn-success">
    </form>
</div>
{% endblock %}