{% layout 'layout.liquid'%}
{% block content %}

<div class="container; text-center"> 
    <a href="/profiles" class="btn btn-outline-light" for="btn-check-2">Go Home</a>
    <div class="container text-center">
        <form method ="POST"> 
            {% for userFavoriteArtists in userFavoriteArtist %}
            <ul> 
                <p> <h2> {{userFavoriteArtists['@attr'].rank}}.{{userFavoriteArtists.name}} </h2> Play Count: {{userFavoriteArtists.playcount}}  </p>
                <a href= {{userFavoriteArtists.url}} target='_blank' class="display-6">Check them out!</a>
            </ul>
            {% endfor %}
    </div>

    <div class="container text-center">
        <form action="/profiles/favoriteArtist" method ="POST"> 
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
            <button name="userFavoriteArtist" class="btn btn-outline-info" for="btn-check-outlined"> Reveal </button>
    </div>

</div>

{% endblock %}

