{% layout 'layout.liquid'%}
{% block content %}
<div class="container; text-center" style="border: rgb(58, 54, 54) 2px solid;"> 
    <h3> Profile </h6>
    <h2> {{username | capitalize}}</h4>

<div class="container text-center">
    <form action="/profiles/favoriteAlbum" method ="POST"> 
        <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
        <button name="userFavoriteAlbum " class="btn btn-outline-info" for="btn-check-outlined">Reveal {{username | capitalize}} Musical Taste</button>
</div>


{% endblock %}

