{% layout 'layout.liquid'%}

{% block content %}
    <body class="text-center">
        <form action="/similarArtist/" method ="POST">
            <input type="text"  name="artist" placeholder= 'Enter an Artist'/> 
            <input type="submit" class="btn btn-success">
        </form> </br>
        <h1 class="display-3">Artist similar to: </h1>
        {{artist}}
        <a href= {{link}}>Profile</a>
{% endblock %}