{% layout "layout.liquid" %}
{% block content %}
<body class ="text-center"> 
    <h1>Welcome {{username | capitalize}}!</h1>
    <h2> I hope you enjoy your stay at MusicBook!</h2>
</body>

{% endblock %}