{% layout 'layout.liquid'%}

{% block content %}
    <body class="text-center">
        <form action="similarArtist/" method ="POST">
            <input type="text"  name="artist" placeholder= 'Enter an Artist'/> 
            <input type="submit" class="btn btn-success">
        </form> </br>
        <h1 class="display-3">Results:</h1>
        {% for artists in artist %}
        <hr> 
           <h5> {{artists.name}}   </h5>
            Likihood of likeness: {{artists.match}} </br>
           <a href={{artists.url}} target="_blank">Check {{artists.name}} out</a>
        </hr>
        {% endfor %}

{% endblock %}