body {
    color: #AACCFF;
    background-image: url('862213.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.xbutton {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.btn-group{
    margin-right: 20em;
}

.feedRating {
    margin-left: 5em;
}

