{% layout 'layout.liquid'%}
{% block content %}
<div class="text-center"> 
    <H4>Curious about your music taste or want to stalk a Friend? Find someones favorite artist by entering their user below</H4>
    <form action="/favoriteArtist/" method ="POST">
        <input type="text" id='quantity' name="favoriteArtist" placeholder= 'Enter a User'/> 
        <input type="submit" class="btn btn-success" value="Stalk a Friend's top Artist">
    </form>

</body>
{% endblock %}