{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/feed/" method="POST">
        <fieldset>
            <legend>New Music Thought</legend>
            <label class="form-label">Artist: </label>
            <input 
                type="text" 
                name="artist" 
                placeholder="Artist Name"
                class="form-control"
            >
            <label class="form-label">Song(s)-Optional:</label>
            <input 
                type="text" 
                name="song" 
                placeholder="Song or Songs" 
                class="form-control"
            >
            <label class="form-label">Album(s)-Optional:</label>
            <input 
                type="text" 
                name="album" 
                placeholder="album(s)" 
                class="form-control"
            ></br>
            <textarea input 
            type="text" 
            rows="6"
            cols="100"
            name="opinion"
            placeholder="What's on your mind?"></textarea>
        </fieldset>
        <input type="submit" value="Post" class="btn btn-success">
    </form>
</div>
{% endblock %}