{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/feed/" method="POST">
        <fieldset>
            <legend>New Music Thought</legend>

            <label class="form-label"> Title </label>
            <input 
                type="text" 
                name="title" 
                placeholder="Title"
                class="form-control bg-dark text-white"
            >

            <label class="form-label">Artist(s) -Optional: </label>
            <input 
                type="text" 
                name="artist" 
                placeholder="Artist Name"
                class="form-control bg-dark text-white"
            >
            <label class="form-label">Song(s)-Optional:</label>
            <input 
                type="text" 
                name="song" 
                placeholder="Song or Songs" 
                class="form-control  bg-dark text-white"
            >
            <label class="form-label">Album(s)-Optional:</label>
            <input 
                type="text" 
                name="album" 
                placeholder="Album(s)" 
                class="form-control  bg-dark text-white"
            ></br>

            <label class="form-label">Rating(1-10) if applicable:</label>
            <input 
                type="number" 
                name="personalRating" 
                class="form-control  bg-dark text-white"
            ></br>

            <textarea input 
            type="text" 
            rows="6"
            cols="100"
            name="opinion"
            class="bg-dark text-white"
            placeholder="What's on your mind?"></textarea> </br>
            
            <p>
                <input
                    type="hidden"
                    name="rating"
                    style="width:2em"
                    value="1"
                >
            </p>
        </fieldset>
        <input type="submit" value="Post" class="btn btn-outline-success">
    </form>
</div>
{% endblock %}